<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <img class="JSLogo" src="https://png2.kisspng.com/sh/08e243303d82be5bdfd97ded67861c3c/L0KzQYm3VME1N5NufZH0aYP2gLBuTf5wbJYyguU2anH5ccTqkvlxfF5qkOJ7ZYP2Pbv6TfFvb6ZxeeRzcz31cbBrjB0ucZR0huU2NXHnQoGAgBUxPGFpfKg3MUe4Qoi4UsEyPWM4T6M8OUm7QIK9Vr5xdpg=/kisspng-node-js-javascript-express-js-angularjs-random-icons-5ad207ce040dd6.1752712115237139980166.png" alt="JS Logo">
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>